* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login_form_scheme {
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 1em;
  font-family: 'Grenze', serif;
  color: #39c2d7;
}
.oswald_font_scheme {
  color: #464547;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}
.hover_scheme {
  opacity: 0.5;
  color: #39c2d7;
}
.oswald_grey {
  color: #464547;
  font-family: 'Oswald', sans-serif;
}
.grenze_blue {
  font-family: 'Grenze', serif;
  color: #39c2d7;
}
.navbar {
  background-color: white;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
  margin-top: 1em;
}
.counter-container {
  background-color: whitesmoke;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 40%;
}
@media screen and (min-width: 680px) {
  .navbar__page-title {
    font-size: 2.5em;
    font-weight: 600;
    position: relative;
    color: #464547;
    font-family: 'Oswald', sans-serif;
  }
}
@media screen and (max-width: 680px) {
  .navbar__page-title {
    font-size: 1.5em;
    font-weight: 600;
    position: relative;
    color: #464547;
    font-family: 'Oswald', sans-serif;
  }
}
.navbar__dropdown-button {
  padding-top: 0.7em;
}
.main-content {
  background-color: white;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
}
.dropdown-item {
  display: block;
  justify-content: center;
  height: 10px;
  margin-top: 0.5em;
  text-align: center;
  padding-bottom: 1em;
}
.dropdown-menu {
  height: 6.5rem;
  width: 20rem;
  display: inline-block;
}
.navbar__home-icon {
  color: #464547;
  font-size: 2em;
  padding-top: 0.5em;
}
.navbar__home-icon:hover {
  opacity: 0.5;
  color: #39c2d7;
}
@media screen and (min-width: 680px) {
  .navbar__mobile-icon {
    font-size: 2em;
    padding-top: 0.5em;
    visibility: hidden;
  }
}
@media screen and (max-width: 680px) {
  .navbar__mobile-icon {
    font-size: 2em;
    padding-top: 0.5em;
    visibility: visible;
  }
}
.navbar__mobile-icon:hover {
  opacity: 0.5;
  color: #39c2d7;
}
.login {
  padding-left: 3em;
  padding-bottom: 2em;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 2em auto 2em auto;
  display: inline-block;
}
.registration {
  padding-left: 3em;
  padding-bottom: 2em;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 2em auto 2em auto;
  display: inline-block;
}
.account-page__personal-data {
  padding-left: 3em;
  padding-bottom: 2em;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 2em auto 2em auto;
  display: inline-block;
  width: 50%;
  padding-bottom: 0em;
}
.account-page__links {
  color: #464547;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-align: center;
}
.registration input {
  max-width: 90%;
}
.login input {
  max-width: 90%;
}
.login_btn {
  margin-top: 2em;
}
@media screen and (max-width: 680px) {
  .reg-form__form-check-label {
    font-size: 1em;
  }
}
.registration-container {
  padding-left: 3em;
  padding-bottom: 2em;
}
.login-form label {
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 1em;
  font-family: 'Grenze', serif;
  color: #39c2d7;
}
.reg-form label {
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 1em;
  font-family: 'Grenze', serif;
  color: #39c2d7;
}
.reg-form__reg2_btn {
  margin-top: 2em;
}
.login-form {
  display: inline-block;
}
.reg-form {
  display: inline-block;
}
.account_navbar h1 {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  color: #464547;
  font-family: 'Oswald', sans-serif;
}
.index-page__user-counter h1 {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.2em;
  color: #464547;
  font-family: 'Oswald', sans-serif;
}
.acc {
  font-family: 'Grenze', serif;
  color: #39c2d7;
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 1em;
}
.accpic {
  padding-bottom: 2em;
}
.footer {
  background-color: white;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
  margin-top: 1.5em;
  border-radius: 4px;
}
.footer__copyright {
  color: #464547;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.reg-form__reg-span {
  display: none;
  color: #464547;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}
.login-form__login-span {
  display: none;
  color: #464547;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}
