* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: white;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
  margin-top: 1em;
}
.page_title {
  font-size: 2.5em;
  font-weight: 600;
  color: #464547;
  font-family: 'Oswald', sans-serif;
  position: relative;
}
.button {
  padding-top: 0.7em;
}
#main_container {
  background-color: white;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
}
.dropdown-item {
  display: block;
  justify-content: center;
  height: 10px;
  margin-top: 0.5em;
  text-align: center;
  padding-bottom: 1em;
}
.dropdown-menu {
  height: 6.5rem;
  width: 16rem;
  display: block;
}
.home_icon {
  color: #464547;
  font-size: 2em;
  padding-top: 0.5em;
}
.home_icon:hover {
  opacity: 0.5;
  color: #39c2d7;
}
.login {
  padding-left: 3em;
  padding-bottom: 2em;
}
.login_btn {
  margin-top: 2em;
}
.registration {
  padding-left: 3em;
  padding-bottom: 2em;
}
.login_form_scheme {
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Grenze', serif;
  color: #39c2d7;
  padding-top: 1em;
}
.login_form label {
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Grenze', serif;
  color: #39c2d7;
  padding-top: 1em;
}
.reg_form label {
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Grenze', serif;
  color: #39c2d7;
  padding-top: 1em;
}
.reg2_btn {
  margin-top: 2em;
}
.login_form {
  display: inline-block;
}
.reg_form {
  display: inline-block;
}
.account_navbar h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #464547;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.acc {
  font-family: 'Grenze', serif;
  color: #39c2d7;
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 1em;
}
.accpic {
  padding-bottom: 2em;
}
.footer {
  background-color: white;
  box-shadow: 0.2em 0.2em 1em 0.001em black;
  margin-top: 1.5em;
  border-radius: 4px;
}
.copyright {
  color: #464547;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.epam_logo:hover {
  opacity: 0.5;
}
.reg_span {
  display: none;
  color: #464547;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}
